<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>moodfood</title>
    <link rel="stylesheet" th:href="@{css/main.css}">
    <link rel="shortcut icon" type="image/png" th:href="@{assets/icon.png}" />
</head>
<body>
    <div class="bg"></div>
    <div class="wrapper-login">
        <div class="logo logo-login">moodfood</div>
        <form class="login-form" href="index.html" th:action="@{/new}">
            <form th:object="${users}" th:method="users">
            <input type="text" th:field="*{userName}" placeholder="Login">
                <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" />
            <input type="email" th:field="*{userMail}" placeholder="Adres e-mail">
                <p th:if="${#fields.hasErrors('userMail')}" th:errors="*{userMail}" />
            <input type="password" th:field="*{userPassword}"  placeholder="Hasło">
                <p th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}" />
            <input class="btn btn-primary" type="submit" value="Stwórz konto">
            </form>
        </form>
    </div>
</body>
</html>